{% extends 'base.html.twig' %}


{% block body %}
<div class="col-md-12">Bienvenue sur votre espace personnel {{ '' }}</div>
<div class="col-md-12">
	<div class="col-md-3 profil">
		<h3>MON PROFIL</h3>
			<h4>Ma biographie</h4><br>
			<h4>Nom</h4>
			<h4>Prénom</h4>
			<h4>Age</h4>
			<h4>Adresse email</h4><br>
		<h3>LIENS PRO</h3>
			<h4>Site personnel</h4>
			<h4>Github</h4>
			<h4>Linkedin</h4>
			<h4>Tweeter</h4>
			<h4>Doyoubuzz</h4>
	</div>
		
		<div class="col-md-7 flux-perso">
		<h3>MON FLUX PERSONEL</h3>
			<div class="col-md-12 post_perso">
				<h4><img src="{{ asset('img/jumelles.png') }}"><b>Je vais à la plage</b> - le 29/04/2016</h4>
				<p>Aujourd'hui petit tour à la plage en famille</p>
			</div>
			<div class="col-md-12 post_perso">
				<h4><img src="{{ asset('img/jumelles.png') }}"><b>Je vais à la piscine</b> - le 27/04/2016</h4>
				<p>Le mailot de bain est prêt. Plus que la serviette à trouver</p>
			</div>
		</div>
	<div class="col-md-2">
		<a class="btn btn-primary btn-espace" href="#" role="button">Modifier votre profil</a>
	</div>
</div>
<div class="col-md-5"></div>
<div class="col-md-2 center-block"><h3>MES AMIS</h3></div>
<div class="col-md-5"></div>
{% endblock %}