{% extends 'base.html.twig' %}

{% block body %}
	<div>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Bienvenue {{ app.user.username }}
        {% endif %}
    </div>
{% endblock %}