{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h2 class="bvn-mess">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	                Bienvenue {{ app.user.username }}
	        {% endif %}
	    </h2>
    </div>
    <div class="col-md-4"></div>
{% endblock %}