/* NAVBAR */

.navbar-default .navbar-brand {
	color: white;
	font-size: 18px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar {
	background-color: #58c4b8;
	color: white;
}

.logotage {
	float: left;
	margin-top: -5.5px;
}



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5%;
	background-color: #58c4b8;
}

footer p {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}

.text-muted {
	color: #3d3d3d;
	color: white;
}

/* index page */
body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	color: #3d3d3d;
}
.logoo{
	background: url(../img/logomain.png);
	background-size: 210px 260px;
	height: 290px;
	background-position: center 0px;
	background-repeat: no-repeat;
	text-align: center;
}
.col-md-4{
	width:33%;
}
.alpha {
	padding-top: 260px;
}
p {
	font-size: 17px;
}
.lineleft {
	
	height: 330px;
}
.lineright {
	
	height: 330px;
}
.buttonp {
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}
.buttonr {
	border: solid #3d3d3d 3px;
	border-radius: 12px;
	height: 50px;
	width: 100%;
	background-color: #58c4b8;
	margin-top: 5px;
}
a {
	color: #3d3d3d ;
}
a:hover {
	color: #3d3d3d;
}
.backico {
	background: url(../img/ico.png);
	background-repeat: no-repeat;
	background-size: 100% 77%;
	background-position: bottom;
}

/* Register-page */
.btn {
	background-color: white;
	border-color: white;
	margin-bottom: -100px;
	color: #3d3d3d;
}
.btn:hover{
	color: white;
	background-color: #3d3d3d;
	border:solid white 1px;
}
.ecart {
	margin-bottom:10px;
	padding-right: 50px;
}
.wilders {
	height: 500px;
	width: 180px;
	border: transparent;
}
.wilder {
	height: 100%;
	width: 100%;
	border: transparent;
}
.formulaire {
	height: 400px;
	width: 400px;
	background-color: #58c4b8;
	color: #3d3d3d;
	border-radius: 5px;
	margin-top: 50px;
}
.pad {
	padding-top: 10px;
}
.appel {
	color: white;
}

.colog {
	color: white;
	text-align: center;

}

/* Espace perso */

h3 {
	color: #58c4b8;
}



.btn-espace {
	margin-bottom: 0;
	margin-top: 20px;
	background: #58c4b8;
	color: white;
}

.post_perso {
	border-bottom: solid 1px grey
}


.post_perso b {
	margin-left: 5px;
}

.profil {
	background-color: #58c4b8; 
}

.profil h3 {
	color: white; 
}	


/* Login-page */
.logform {
	background-color: #58c4b8;
	height: 300px;
	width: 400px;
	color: #3d3d3d;
	border-radius: 5px;
	margin-top: 50px;
}
.tilti {
	text-align: center;
}
.padd {
	padding-top: 10px;
	margin-bottom: 20px;
}
.ecartt {
	padding-bottom: 15px;
}
span {
	color: white;
}
.btnlogin {
	background-color: white;
	border-color: white;
	margin-bottom: -100px;
	color: #3d3d3d;
	border-radius: 5px;
}
.btnlogin:hover{
	color: white;
	background-color: #3d3d3d;
	border:solid white 1px;
}

