body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	color: #3d3d3d;
}
.logoo{
	background: url(../img/logomain.png);
	background-size: 280px 280px;
	height: 360px;
	background-position: center 0px;
	background-repeat: no-repeat;
	text-align: center;
}
.col-md-4{
	width:33%;
}
.alpha {
	padding-top: 285px;
}
p {
	font-size: 17px;
}
.lineleft {
	border-left: solid #3d3d3d 2px;
	height: 250px;
}
.lineright {
	border-right: solid #3d3d3d 2px;
	height: 250px;
}
.buttonp {
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}
.buttonl {
	border: solid #3d3d3d 3px;
	border-radius: 12px;
	height: 50px;
	width: 100%;
	background-color: #58c4b8;
	margin-top: 5px;
}
.buttonr {
	border: solid #3d3d3d 3px;
	border-radius: 12px;
	height: 50px;
	width: 100%;
	background-color: #58c4b8;
	margin-top: 100px;
}